@charset "UTF-8";
html {
  height: 100%;
}

ul {
  list-style: none;
  float: left;
}

#wrap {
  min-width: 320px;
}

*:focus {
  outline: none;
}

body {
  color: #ffffff;
  font-family: "Poppins", "Noto Sans KR", sans-serif;
  background: #000000;
  margin: 0;
  height: 100%;
}
body #project-wrapper {
  display: flex;
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
body #project-wrapper #project-container {
  height: 50px;
  min-width: 320px;
  width: 100%;
  position: relative;
  z-index: 2;
  background: rgb(0, 0, 0);
}
body #project-wrapper #project-container nav {
  font-size: 0.6em;
  color: white;
  text-align: center;
  position: relative;
  width: 100%;
}
body #project-wrapper #project-container nav p {
  text-decoration: none;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 0 20px;
  cursor: pointer;
}
body #project-wrapper #project-container nav p:hover {
  opacity: 0.8;
  color: white;
}
body #project-wrapper #project-container nav p i {
  margin-left: 2px;
  font-size: 0.9em;
}
body #project-wrapper #project-container nav p a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 10px;
  padding: 5px 5px;
}

.main {
  color: #ffffff;
}

#copyright .txt .txt_content {
  float: left;
  text-align: left;
  position: relative;
  margin-left: 20%;
  padding-top: 35px;
  color: #ffffff;
  height: 50px;
  font-size: 1px;
  display: inline-block;
}

#copyright .txt {
  position: relative;
}

#copyright {
  height: 60px;
  width: 100%;
  background-color: black;
  z-index: 0;
}
#copyright .mapImg {
  width: 50px;
  display: inline-block;
}
#copyright .txt_content_copy {
  opacity: 0.8;
  padding-bottom: 10px;
}

a.resize {
  padding: 10px;
}

.dropdown02 {
  position: relative;
  display: inline-block;
}
.dropdown02:hover .dropdown-content02 a {
  display: block;
}

.dropdown-content02 {
  display: none;
  position: absolute;
  z-index: 1; /*다른 요소들보다 앞에 배치*/
  font-weight: 200;
  background-color: black;
  opacity: 0.8;
  width: 530px;
}
.dropdown-content02 div {
  display: inline-block;
}
.dropdown-content02 a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 10px;
  padding: 5px 5px;
}

.dropdown02:hover .dropdown-content02 {
  display: block;
}

.dropdown-content02 a:hover {
  opacity: 0.8;
}

.title {
  width: 100%;
  min-height: 80px;
  font-size: larger;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  margin-top: 80px;
  position: absolute;
}

#first {
  width: 100%;
  height: 1200px;
  background-color: #ffffff;
}

#back {
  width: 100%;
  background-color: #ffffff;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.swiper {
  width: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 800px;
}

.swiper-button-prev {
  display: none;
}

.swiper-button-next {
  display: none;
}

.num1 {
  width: 50px;
  height: 75px;
}

.num2 {
  width: 50px;
  height: 75px;
}

.num3 {
  width: 50px;
  height: 75px;
}

.num4 {
  width: 50px;
  height: 75px;
}

#about {
  display: block;
  width: 100%;
  height: 730px;
}
#about .pic {
  display: inline-block;
  border: 1px solid black;
  width: 500px;
  margin: 0px auto;
  height: 500px;
  margin-top: 150px;
  margin-left: 350px;
}
#about .info {
  display: inline-block;
  border: 1px solid black;
  width: 500px;
  margin: 0px auto;
  height: 500px;
}

/*.imgs{
  display: flex;
  justify-content: center;
  .idx_img{
    display: flex;
    justify-content: center;
    img{

  width: 40%;
    }
  }
}*/
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: left;
}

/*# sourceMappingURL=style.css.map */
